@import "tailwindcss";

/* ---------------- FONT ---------------- */

@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Tailwind variable (if you are using it) */
@theme {
  --font-roboto: 'roboto', sans-serif;
}

body {
  font-family: 'roboto';
}

/* ---------------- SCROLLBAR HIDE ---------------- */

#noScroll::-webkit-scrollbar {
  display: none;
}

/* ---------------- INPUT STYLES (ID BASED) ---------------- */

#task-title,
#task-assign,
#task-category,
#task-date {
  outline: none;
  border: 2px solid white;
  transition: all 300ms ease;
}

#task-title:focus,
#task-assign:focus,
#task-category:focus,
#task-date:focus {
  border: 2px solid rgb(137, 137, 137);
}

/* ---------------- TEXTAREA STYLES (ID BASED) ---------------- */

#task-description {
  outline: none;
  border: 2px solid white;
  transition: all 300ms ease;
}

#task-description:focus {
  border: 2px solid rgb(137, 137, 137);
}